/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.date-prof-slider{
  display: flex!important;
  align-items: center;
}
.date-prof-slider .owl-nav{
  position: absolute;

    text-align: center;
    font-size: 29px;
  width: 100%;
}
.date-prof-slider .owl-stage-outer{
  z-index: 50;
}

.date-prof-slider .owl-nav button:hover{
  color: #4B413B;
}
.bnr-btm-img-wrap{
  margin-bottom: 15px;
}
.bnr-btm-img-wrap .video-wrap img{
  max-height: 230px;
}
.bnr-btm-img-wrap .video-wrap{
  margin-bottom: 15px;
}

.bnr-btm-img-wrap .chrch-description{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 4.5em;
}
button:focus{
  outline: none;
}

@media only screen and (min-width: 1200px){
  .date-prof-slider .owl-nav{
    width: calc( 100% + 50px );
    left: -25px;
    font-size: 50px;
    line-height: 27px;
    display: flex;
  }
  .date-prof-slider .owl-nav .owl-next{
    margin-left: auto;
  }
}
@media only screen and (max-width: 1200px){
  .date-prof-slider .owl-nav button{
    margin: 0 15px!important;
  }
  .date-prof-slider .owl-nav{
    bottom: 18px;
  }
}

/*------------Login Styles--------------------------*/

.btn-primary {
  transition: all 0.3s ease-in;
}
.login-warp {
  padding: 80px 0;   
  	background: #000;
   background-image: none!important;
    min-height: calc(100vh - 90px);
    position: relative;
}

.login-warp:after{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .7;
  background: url('https://sitelive.online/clients/buddyguru/storage/admin-banner/login-banner.jpg') no-repeat center; 
 
  
    background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);

}

@media (max-width: 767px) {
  .login-warp {
    padding: 30px 0;
  }
}
.login-warp .login-warp-in {
  width: 100%;
  max-width: 600px;
  margin: auto;
   position: relative;
   z-index: 9;
}
.login-warp .login-warp-in h3 {
  font-family: "Muli", sans-serif;
  font-size: 32px;
  color: #ffffff;
  /* The Fallback */
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .login-warp .login-warp-in h3 {
    text-align: center;
  }
}
.login-warp .login-warp-in h2 {
  font-family: "Muli", sans-serif;
  font-size: 32px;
  color: #3c3430;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 0px;
}
.login-warp .form-wrap {
  padding: 40px 50px 45px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
  .login-warp .form-wrap {
    padding: 30px 30px 35px;
  }
}
.login-warp .form-wrap label {
  font-family: "Muli", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #1d1d1d;
  /* The Fallback */
  color: rgba(29, 29, 29, 0.7);
}
.login-warp .form-wrap .form-control {
  font-family: "Muli", sans-serif;
  font-size: 13px;
  font-weight: 500;
  height: 42px;
  border: 0px;
  padding: 0.375rem 0rem;
  border-bottom: 1px solid #cccccc;
  border-radius: 2px;
  background: #ffffff;
}
.login-warp .form-wrap .form-control.contact-sub {
  background: #3c3430;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  height: 46px;
  display: inline-block;
  width: auto;
  padding: 6px 30px;
  border-radius: 25px;
}
.login-warp .form-wrap .form-control.contact-sub:hover {
  background: #352f2c;
  -webkit-box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate3d(0px, -5px, 0px);
  -moz-transform: translate3d(0px, -5px, 0px);
  -o-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
}
.login-warp .form-wrap a {
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
}
.login-warp .form-wrap a.forgot-pass {
  color: #3c3430;
  text-align: right;
  float: right;
}
@media (max-width: 767px) {
  .login-warp .form-wrap a.forgot-pass {
    text-align: left;
    float: none;
  }
}
.login-warp .form-wrap a.new-user {
  color: #52b0ee;
}

/*------------Register Form styles--------------------*/

.signin-warp {
  padding: 10px 0;
  /* background: #3c3430; */
  background-image: url(https://www.onlineworship.com/storage/banner/b-3.jpg) !important;
  background-origin: content-box;
    background-position: center;
    background-repeat: no-repeat;
  min-height: calc( 100vh - 90px );
}
@media (max-width: 767px) {
  .signin-warp {
    padding: 30px 0;
  }
}
.signin-warp .signin-warp-in {
  width: 100%;
  max-width: 948px;
  margin: auto;
}
.signin-warp .signin-warp-in h3 {
  font-family: "Muli", sans-serif;
  font-size: 32px;
  color: #ffffff;
  /* The Fallback */
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .signin-warp .signin-warp-in h3 {
    text-align: center;
  }
}
.signin-warp .signin-warp-in h2 {
  font-family: "Muli", sans-serif;
  font-size: 32px;
  color: #3c3430;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 0px;
}
.signin-warp .form-wrap {
  padding: 40px 50px 45px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  /* min-width: 55vw; */
}
@media (max-width: 767px) {
  .signin-warp .form-wrap {
    padding: 30px 30px 35px;
  }
}
.signin-warp .form-wrap label {
  font-family: "Muli", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #1d1d1d;
  /* The Fallback */
  color: rgba(29, 29, 29, 0.7);
}
.signin-warp .form-wrap .form-control {
  font-family: "Muli", sans-serif;
  font-size: 13px;
  font-weight: 500;
  height: 42px;
  border: 0px;
  padding: 0.375rem 0rem;
  border-bottom: 1px solid #cccccc;
  border-radius: 2px;
  background: #ffffff;
  margin-left: 15px;
}
.signin-warp .form-wrap .form-control.contact-sub {
  background: #3c3430;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  height: 46px;
  display: inline-block;
  width: auto;
  padding: 6px 30px;
  border-radius: 25px;
}
.signin-warp .form-wrap .form-control.contact-sub:hover {
  background: #64554e;
  -webkit-box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate3d(0px, -5px, 0px);
  -moz-transform: translate3d(0px, -5px, 0px);
  -o-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
}
.signin-warp .form-wrap a {
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
}
.signin-warp .form-wrap a.forgot-pass {
  color: #d35327;
  text-align: right;
  float: right;
}
@media (max-width: 767px) {
  .signin-warp .form-wrap a.forgot-pass {
    text-align: left;
    float: none;
  }
}
.signin-warp .form-wrap a.new-user {
  color: #d35327;
}
.recent-streams-items-wrap {
    overflow: auto;
    height: 100%;
    max-height: 350px;
}

@media only screen and (max-width: 767px){
  .church-logo{
    width: 50%;
    height: 30%;
  }

  .churh-social li{
    margin-right: 5px !important;
  }
}

/*---banner section styles----*/
.banner-slider .item {
  position: relative;
}
.banner-slider .item:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 37%);
  top: 0;

}
.banner-slider .item_1 {
  height: 100vh;
  position: relative;
}

.banner-slider .item img {
  width: 100%;
  object-fit: cover;
  min-height: calc( 100vh - 120px );
}

.banner-slider .owl-theme .owl-dots .owl-dot:last-child {
  display: none;
}

.banner-slider .item .cover {
  padding: 75px 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
    z-index: 2;
}

.banner-slider .item .cover .header-content {
       position: relative;
  max-width: 579px;
}
.banner-slider .item .cover .header-content p
{
      color: #fff;
  padding-bottom: 15px;
}
.banner-slider .item .cover .header-content a
{
  padding: 7px 10px;
  display: table;
  background-color: #fff;
  color: black;
}




/*.banner-slider .item .cover .header-content .slider-content {
  position: absolute;
  left: 136px;
}*/

.banner-slider .item .cover .header-content h1 {
  font-size: 40px;
  font-weight: 600;
  word-spacing: 3px;
  color: #fff;
  margin: 0;
  padding-bottom: 8px;
}

.banner-slider .item .cover .header-content h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #fff;
}
/*.shop-now{
  background-color: #ffffff;
  color: #000000;
  padding: 10px 10px;
  position: relative;
  left: 80px;
  top: 93px;
}*/
.banner-slider .owl-item.active h1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}

.banner-slider .owl-item.active h2 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}

.banner-slider .owl-item.active h4 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  animation-delay: 0.3s;
}

.banner-slider .owl-item.active .line {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInLeft;
  animation-delay: 0.3s;
}

.banner-slider .owl-nav .owl-prev {
  position: absolute;
  left: 15px;
  top: 43%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: rgba(0, 0, 0, 0.5) !important;
  width: 40px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  display: block;
  z-index: 1000;
  border-radius: 0;
}

.banner-slider .owl-nav .owl-prev span {
  font-size: 1.6875rem;
  color: #fff;
}

.banner-slider .owl-nav .owl-prev:focus {
  outline: 0;
}

.banner-slider .owl-nav .owl-prev:hover {
  background: #000 !important;
}

.banner-slider .owl-nav .owl-next {
  position: absolute;
  right: 15px;
  top: 43%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: rgba(0, 0, 0, 0.5) !important;
  width: 40px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  display: block;
  z-index: 1000;
  border-radius: 0;
}

.banner-slider .owl-nav .owl-next span {
  font-size: 1.6875rem;
  color: #fff;
}

.banner-slider .owl-nav .owl-next:focus {
  outline: 0;
}

.banner-slider .owl-nav .owl-next:hover {
  background: #000 !important;
}

.banner-slider:hover .owl-prev {
  left: 0px;
  opacity: 1;
}

.banner-slider:hover .owl-next {
  right: 0px;
  opacity: 1;
}
/*---end of banner section styles---*/

.recent-streams-wrap .recent-streams-title {
  z-index: 123;
}

.testimonial-img{
  width: 150px !important;
  margin: 0 auto !important;
}

.services-featured{
  margin-top: calc( -8.20575vw + -90.5px );
}

.nav-links {
  min-width: calc(100% - 270px);
  margin-left: auto;
}

.nav-dropdown:before, .nav-dropdown:after {
  top: -45%;
}

.testimonial-head {
  position: relative;
}

.testimonial-head::after, .testimonial-head::before {
    content: "";
    background-color: #4B413B;
    display: block;
    position: absolute;
    height: 1px;
    opacity: 0.3;
    width: calc( 50vw - 205px );
    top: 19px;
    right: 0;

}

.testimonial-head::before {
  left: 0;

}

.btn-theme {
  color: #fff;
  background-color: #4B413B;
  border-color: #352f2c;
}

.btn-theme:hover {
  color: #fff;
  background-color: #3f3834;
}

.services-featured .date-prof-slider .date-pfof-item {
  padding: calc( 0.507312vw + 6.875px );
}

.services-featured .date-prof-slider .date-pfof-item img {
  margin: 0 0;
}

.recent-streams-wrap {
  margin-top: -140px;
}
/* Subscription style */
.pricing-table {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
  }

  .pricing-table .ptable-item {
    width: 33.33%;
    padding: 0 15px;
    margin-bottom: 30px;
  }

  @media (max-width: 992px) {
    .pricing-table .ptable-item {
      width: 33.33%;
    }
  }

  @media (max-width: 768px) {
    .pricing-table .ptable-item {
      width: 50%;
    }
  }

  @media (max-width: 576px) {
    .pricing-table .ptable-item {
      width: 100%;
    }
  }

  .pricing-table .ptable-single {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .pricing-table .ptable-header,
  .pricing-table .ptable-body,
  .pricing-table .ptable-footer {
    position: relative;
    width: 100%;
    text-align: center;
    overflow: hidden;
  }

  .pricing-table .ptable-status ,
  .pricing-table .ptable-title,
  .pricing-table .ptable-price,
  .pricing-table .ptable-description,
  .pricing-table .ptable-action {
    position: relative;
    width: 100%;
    text-align: center;
  }

  .pricing-table .ptable-single {
    background: #f6f8fa;
  }

  .pricing-table .ptable-single:hover {
    box-shadow: 0 0 10px #999999;
  }

  .pricing-table .ptable-header {
    margin: 0 30px;
    padding: 30px 0 45px 0;
    width: auto;
    background: #4b413b;
  }

  .pricing-table .ptable-header::before,
  .pricing-table .ptable-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 100px solid #f6f8fa;
  }

  .pricing-table .ptable-header::before {
    right: 50%;
    border-right: 250px solid transparent;
  }

  .pricing-table .ptable-header::after {
    left: 50%;
    border-left: 250px solid transparent;
  }

  .pricing-table .ptable-item.featured-item .ptable-header {
    background: #FF6F61;
  }

  .pricing-table .ptable-status {
    margin-top: -30px;
  }

  .pricing-table .ptable-status span {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
    padding: 5px 0;
    text-align: center;
    color: #FF6F61;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    background: #2A293E;
  }

  .pricing-table .ptable-status span::before,
  .pricing-table .ptable-status span::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 10px solid #FF6F61;
  }

  .pricing-table .ptable-status span::before {
    right: 50%;
    border-right: 25px solid transparent;
  }

  .pricing-table .ptable-status span::after {
    left: 50%;
    border-left: 25px solid transparent;
  }

  .pricing-table .ptable-title h2 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2px;
  }

  .pricing-table .ptable-price h2 {
    margin: 0;
    color: #ffffff;
    font-size: 45px;
    font-weight: 700;
    margin-left: 15px;
  }

  .pricing-table .ptable-price h2 small {
    position: absolute;
    font-size: 18px;
    font-weight: 300;
    margin-top: 16px;
    margin-left: -15px;
  }

  .pricing-table .ptable-price h2 span {
    margin-left: 3px;
    font-size: 16px;
    font-weight: 300;
  }

  .pricing-table .ptable-body {
    padding: 20px 0;
  }

  .pricing-table .ptable-description ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .pricing-table .ptable-description ul li {
    color: #2A293E;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 7px;
    border-bottom: 1px solid #dedede;
  }

  .pricing-table .ptable-description ul li:last-child {
    border: none;
  }

  .pricing-table .ptable-footer {
    padding-bottom: 30px;
  }

  .pricing-table .ptable-action a {
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    background: #4b413b;
  }

  .pricing-table .ptable-action a:hover {
    color: #2A293E;
    background: #FF6F61;
  }

  .pricing-table .ptable-item.featured-item .ptable-action a {
    color: #2A293E;
    background: #FF6F61;
  }

  .pricing-table .ptable-item.featured-item .ptable-action a:hover {
    color: #FF6F61;
    background: #2A293E;
  }

  .subscription{
      position: relative;
      color: #4b413b;
      font-size: 28px;
  }

  .subscription::before, .subscription::after{
    content: "";
    background-color: #4b413b;
    display: block;
    position: absolute;
    height: 1px;
    opacity: 0.3;
    width: calc( 50vw - 160px );
    top: 12px;
}

.subscription::after{
    right: 0;
}

.subscription::before{
    left: 0;
}

.about-sub{
    max-width: 650px;
    font-size: 16px;
}

.logo-sizing{
  width: 175px !important;
}
